[Desktop Entry]
Encoding=UTF-8
Name=SolydK Default Panel
Name[ar]=SolydK اللوحة الافتراضيّة
Name[bs]=SolydK Podrazumijevani panel
Name[ca]=SolydK Plafó per omissió
Name[ca@valencia]=SolydK Plafó per omissió
Name[cs]=SolydK Výchozí panel
Name[da]=SolydK Standardpanel
Name[de]=SolydK Standard-Kontrollleiste
Name[el]=SolydK Προκαθορισμένος πίνακας
Name[en_GB]=SolydK Default Panel
Name[es]=SolydK Panel por omisión
Name[et]=SolydK Vaikimisi paneel
Name[eu]=SolydK Panel lehenetsia
Name[fi]=SolydK Oletuspaneeli
Name[fr]=SolydK Tableau de bord par défaut
Name[gl]=SolydK Panel predeterminado
Name[he]=SolydK לוחות ברירת־מחדל
Name[hu]=SolydK Alapértelmezett panel
Name[id]=SolydK Panel Baku
Name[is]=SolydK Sjálfgefið spjald
Name[it]=SolydK Pannello predefinito
Name[ja]=SolydK 標準のパネル
Name[ko]=SolydK 기본 패널
Name[lt]=SolydK Numatytas skydelis
Name[mr]=SolydK मूलभूत पटल
Name[nb]=SolydK Standardpanel
Name[nds]=SolydK Standardpaneel
Name[nl]=SolydK Standaard paneel
Name[nn]=SolydK Standardpanel
Name[pa]=SolydK ਡਿਫਾਲਟ ਪੈਨਲ
Name[pl]=SolydK Domyślny panel
Name[pt]=SolydK Painel Predefinido
Name[pt_BR]=SolydK Painel padrão
Name[ru]=SolydK Стандартная панель
Name[sk]=SolydK Štandardný panel
Name[sl]=SolydK Privzeti pult
Name[sr]=SolydK Подразумевани панел
Name[sr@ijekavian]=SolydK Подразумијевани панел
Name[sr@ijekavianlatin]=SolydK Podrazumijevani panel
Name[sr@latin]=SolydK Podrazumevani panel
Name[sv]=SolydK Standardpanel
Name[tr]=SolydK Öntanımlı Pano
Name[uk]=SolydK Типова панель
Name[x-test]=xxSolydK Default Panelxx
Name[zh_CN]=SolydK 默认面板
Name[zh_TW]=SolydK 預設面板
Comment=Default panel featuring application launcher, task manager and system tray
Comment[ar]=قائمة مبدئية فيها مُطلق التّطبيقات ومدير المهامّ وصينيّة النّظام
Comment[ca]=Plafó predeterminat amb el llançador d'aplicacions, el gestor de tasques i la safata del sistema
Comment[ca@valencia]=Plafó predeterminat amb el llançador d'aplicacions, el gestor de tasques i la safata del sistema
Comment[da]=Standardpanel med programstarter, opgavelinje og statusområde
Comment[en_GB]=Default panel featuring application launcher, task manager and system tray
Comment[es]=Panel por defecto que contiene un lanzador de aplicaciones, un gestor de tareas y la bandeja del sistema
Comment[eu]=Lehenetsitako panela aplikazio abiarazlea, ataza kudeatzailea eta sistemaren erretilua dituena
Comment[fi]=Oletuspaneeli, jossa sovelluskäynnistin, tehtävänhallinta ja ilmoitusalue
Comment[fr]=Tableau de bord par défaut contenant le lanceur d'application, le gestionnaire de tâche et la boîte à miniatures
Comment[gl]=Panel predeterminado que contén un iniciador de aplicativos, un xestor de tarefas e unha área de notificación.
Comment[id]=Perfituran panel baku peluncur aplikasi, pengelola tugas dan baki sistem
Comment[it]=Pannello vuoto che offre un avviatore di applicazioni, un gestore delle attività e un vassoio di sistema
Comment[nl]=Standaard paneel met starter van toepassingen, taakbeheerder en systeemvak
Comment[nn]=Standardpanel med programstartar, oppgåvehandsamar og systemtrau
Comment[pl]=Domyślny panel zawierający aktywator programów, pasek zadań i tackę systemową
Comment[pt]=O painel predefinido, que possui o lançador de aplicações, o gestor de tarefas e a bandeja do sistema
Comment[pt_BR]=Painel padrão contendo o lançador de aplicativos, gerenciador de tarefas e área de notificação
Comment[sl]=Privzeti pult, ki vsebuje zaganjalnik programov, upravljalnik opravil in sistemsko vrstico
Comment[sr]=Подразумевани панел са покретачем програма, менаџером задатака и системском касетом
Comment[sr@ijekavian]=Подразумијевани панел са покретачем програма, менаџером задатака и системском касетом
Comment[sr@ijekavianlatin]=Podrazumijevani panel sa pokretačem programa, menadžerom zadataka i sistemskom kasetom
Comment[sr@latin]=Podrazumevani panel sa pokretačem programa, menadžerom zadataka i sistemskom kasetom
Comment[sv]=Standardpanel med funktionerna programstart, aktivitetshanterare och systembricka
Comment[uk]=Типова панель із засобом запуску програм, панеллю керування задачами та системним лотком
Comment[x-test]=xxDefault panel featuring application launcher, task manager and system trayxx
Comment[zh_CN]=默认面板具有应用程序启动器，任务管理器和系统托盘
Type=Service
ServiceTypes=Plasma/LayoutTemplate
X-Plasma-Shell=plasmashell
X-Plasma-ContainmentCategories=panel
X-KDE-PluginInfo-Author=Arjen Balfoort
X-KDE-PluginInfo-Email=arjenbalfoort@hotmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.desktop.solydkPanel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://www.solydxk.com/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPLv2+
X-KDE-PluginInfo-EnabledByDefault=true
